/* WordPlate */
@import "fonts.scss";
@import "footer.scss";
@import "header.scss";
@import "thumburger-menu.scss";
@import "index.scss";
@import "history.scss";
@import "operations.scss";
@import "event.scss";

/* WordPlate */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
