.card {
  $img-fallback-color: #a1a7aa;
  $label-color: #58616C;
  $label-text-color: #ffffff;
  $card-color: #ffffff;


  &__wrapper {
    height: 184px;
    width: 375px;
    position: relative;
    z-index: -2;
    background-color: $card-color;
  }

  &__inner-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  &__img {
    z-index: -1;
    position: absolute;
    background-color: $img-fallback-color;
  }

  &__label {
    height: 45px;
    width: 144px;
    color: $label-text-color;
    background-color: $label-color;
    font-family: "Mukta-Bold";
    font-size: 16px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.04em;
  }
}
