.coworker-hero p {
    font-family: "Mukta-Bold";
    font-size: 32px;
    letter-spacing: 0.02em;
    line-height: 53px;
    color: white;
    position: absolute;
    left: 25%;
    top: 30%;
}

.coworker-hero img {
    margin-bottom: -4px;
}


.breadcrumbs {
    width: 100%;
    margin-top: 32px;
    padding-left: 1rem;
    margin-bottom: 3px;
    font-family: "Mukta-SemiBold";
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.04em;

    a {
      text-decoration: none;
    }

    p {
    font-family: "CrimsonText-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 4rem;
    }
  }

  .breadcrumb-faded {
    color: #999999;

  }

  .breadcrumb-active {
    color: #FF6915;
  }

  .coworker-managment {
      color: white;
  }

  .coworker-managment h5 {
    font-family: "Mukta-Bold";
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.04em;
    margin-left: 16px;
    padding-top: 1.5rem;
  }

  .coworker-managment h6 {
    font-family: "Mukta-Bold";
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.04em;
    margin-left: 16px;
  }

  .coworker-managment p {
    font-family: "CrimsonText-Regular";
    font-size: 14px;
    line-height: 121.2%;
    letter-spacing: 0.04em;
    margin-left: 16px;
  }

  .coworker-managment hr {
    margin-left: 16px;
    width: 344px;
    margin-bottom: 2rem;
  }

  .coworker-managment a {
      text-decoration: underline;
      color: white;
      align-self: flex-end
  }

  .coworker-isabel, .coworker-joel, .coworker-david {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
  }

  .coworker-david {
      padding-bottom: 6rem;
  }

  .isabel-mail, .isabel-phone, .joel-mail, .joel-phone, .david-mail, .david-phone {
      display: flex;
      justify-content: space-between;
      padding-right: 2rem;
  }

    .david-mail {
    padding-right: 3.8rem;
    }

    .joel-mail {
    padding-right: 2.8rem;
    }

.joel-phone {
    padding-right: 5.7rem;
}

  .david-phone {
      padding-top: 0.5rem;
      padding-right: 5.5rem;
  }

  .isabel-phone {
    padding-right: 5.7rem;
  }

  .coworker-inhouse {
      width: 100vw;
      display: flex;
      flex-direction: column;
  }

  .coworker-group-1, .coworker-group-2, .coworker-group-3, .coworker-group-4, .coworker-group-5 {
      display: flex;
      justify-content: space-between;
  }

  .coworker-2 {
      padding-right: 4rem;
      padding-bottom: 1rem;
  }

  .coworker-4 {
      padding-right: 1.5rem;
      padding-bottom: 1rem;
  }

  .coworker-6 {
      padding-right: 2.5rem;
      padding-bottom: 1rem;
  }

  .coworker-8 {
      padding-right: 4.3rem;
      padding-bottom: 1rem;
  }

  .coworker-10 {
      padding-right: 4.3rem;
      padding-bottom: 6rem;
  }

  .coworker-directions p, .coworker-directions h6 {
    font-size: 16px;
  }

  .coworker-parking {
      padding-bottom: 2.5rem;
  }

  .coworker-streetcar {
      padding-bottom: 2.5rem;
  }

  .coworker-address {
      padding-bottom: 6rem;
  }
