/* Some default for Gathenhielmska */
img.attachment-medium.size-medium.wp-post-image {
  width: 100%;
}

/* Event CSS */

/* Filter events */
.event-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/uploads/Evenemangskalender.jpeg");
  min-height: 293px;
  background-position: initial;
}
.event-hero h1 {
  color: #fff;
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-shadow: 0px 0px 44px #000000;
}
.event-lead {
  font-family: Crimson Text;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin: 20px;
}

.event-filter {
  display: flex;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  overflow: auto;
  overflow-y: hidden;
}

.event-filter-name {
  background-color: #58616c;
  line-height: 42px;
  padding: 0 21px;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-family: Mukta;
  color: #fff;
}
ul.event-filter-options {
  display: flex;
  justify-content: space-evenly;
}
li.event-filter-option {
  list-style: none;
  padding: 7px;
  margin: 0 5px;
  font-family: Mukta;
  width: max-content;
}
.event-filter-option > a {
  text-decoration: none;
  color: #000;
}
// Dont touch events
.event-listing {
  background: #f5eee7;
}
.event {
  background-color: white;
  padding: 22px 16px;
  margin: 40px 0;
}
.event-heading {
  font-family: Crimson Text;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 110%;
  color: black;
  margin-bottom: 10px;
}
.eventlink,
.eventlink:visited {
  text-decoration: none;
  color: black;
}
.event-type {
  color: #ff6915;
}
section.event-listing > article > p {
  color: #000000;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: Crimson Text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
}

.event-cta {
  float: right;
}

.event-time {
  font-family: Mukta;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
}
.event-ticket {
  background: #58616c;
  padding: 6px 0;
  width: 89px;
  border: none;
  margin-right: 8px;
}
.event-ticket-link {
  font-family: Mukta;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
  border: none;
}
.event-readmore {
  font-family: Mukta;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  background-color: white;
  border: 1px solid #999999;
  box-sizing: border-box;
  padding: 5px 0;
  width: 89px;
}
.event-info-bottom {
  font-size: 20px;
  font-family: Crimson Text;
  font-weight: 600;
  line-height: 27px;
}
.event-info-bottom-p {
  margin-top: 10px;
  font-family: Crimson Text;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}
