.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 16px 0px 16px;
  box-sizing: border-box;

  &__main-text {
    font-family: "Mukta-Bold";
    font-size: 16px;
    line-height: 112.2%;
  }

  &__contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 33px;
  }

  &__contact {
    display: flex;
    width: 100%;
  }

  &__contact-info-box {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.04em;
    align-self: start;
    width: 135px;
  }

  &__contact-name {
    font-family: "Mukta-Bold";
  }

  &__contact-title {
    font-family: "Mukta-Regular";
  }

  &__contact-info {
    font-family: "CrimsonText-Regular";
    font-size: 13px;
    height: 48px;
    margin-left: 35px;
    padding-top: 11px;
  }

  &__contact-booking {
    font-family: "CrimsonText-Regular";
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    margin-top: 32px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta-Bold';
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.11em;
    margin-top: 46px;
    img {
      margin-right: 5px;
    }
  }
}
