.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #e9e9e9;

  $border-color: #bfbfbf;
  $text-color: #000000;
  $faded-text-color: #999999;
  $button-color: #333f46;

  border-bottom: 1px solid $border-color;

  &__top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 174px;
    width: 100%;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 35px;
      width: 45px;
      margin-bottom: 10px;
    }

    img:nth-child(2) {
      height: 14px;
      width: 195px;
    }
  }

  &__center-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
    border-bottom: 1px solid $border-color;
  }

  &__newsletter {
    margin-top: 65px;
    &-title {
      font-family: "Mukta-Bold";
      font-size: 17px;
      line-height: 19px;
      margin-bottom: 8px;
    }

    &-text {
      font-family: "Mukta-Regular";
      font-size: 12px;
      line-height: 15px;
      color: $faded-text-color;
    }

    &-form {
      height: 35px;
      input {
        height: 100%;
        width: 70%;
        background: rgba(255, 255, 255, 0.9);
        border: none;
        padding-left: 8px;
      }

      button {
        height: 100%;
        width: 30%;
        background: #333f46;
        color: #ffffff;
        border: none;
        border-radius: 0px;
        font-family: "Mukta-Regular";
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
      }
    }
  }

  &__information {
    display: flex;
    font-family: "CrimsonText-Regular";
    font-size: 13px;
    margin-top: 68px;
  }

  &__directions {
    width: 50%;
    &-find {
      font-family: "Mukta-Bold";
      font-size: 17px;
      line-height: 19px;
      margin-bottom: 5px;
    }

    &-adress {
      font-family: "CrimsonText-Regular";
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: "CrimsonText-Regular";
    font-size: 16px;
    text-align: right;
    p {
      text-decoration-line: underline;
    }

    &-email {
      word-wrap: break-word;
      margin-top: 3px;
    }
  }

  &__map {
    display: flex;
    font-family: "Mukta-Bold";
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    margin-top: 10px;
    color: $text-color;

    p {
      margin-top: 4px;
      margin-left: 5px;
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
  }

  &__socials {
    display: flex;
    justify-content: space-around;
    width: 205px;
  }

  &__logo-wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 65px;
    width: 375px;
  }

  &__logo-gs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

  &__logo-higab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
  }

  &__logo-sfr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  &__desktop-title,
  &__desktop-email {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    $border-color: #bfbfbf;

    &__top-wrapper {
      height: 171px;
    }

    &__logo {
      flex-direction: row;
      img {
        margin-bottom: 0;
      }

      img:nth-child(1) {
        height: 51px;
        width: 66px;
      }

      img:nth-child(2) {
        height: 20px;
        width: 281px;
        margin-left: 20px;
      }
    }

    &__desktop-title {
      display: block;
      font-family: "Mukta-Bold";
      font-size: 24px;
      line-height: 26px;
    }

    &__center-wrapper {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 205px;
      padding-left: 0;
      padding-right: 0;
    }

    &__newsletter {
      margin-top: 0;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      padding: 40px 25px 60px 25px;

      &-title,
      &-text {
        display: none;
      }

      p:nth-child(1) {
        margin-bottom: 17px;
      }

      &-form {
        height: 39px;
        width: 310px;
        input {
          padding-left: 20px;
        }
      }
    }

    &__contact {
      text-align: left;

      &-number,
      &-email {
        margin-top: 12px;
      }
    }

    &__desktop-email {
      display: block;
      font-family: "Mukta-Regular";
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 5px;
    }

    &__information {
      order: -1;
      height: 100%;
      display: flex;
      font-family: "CrimsonText-Regular";
      font-size: 13px;
      margin-top: 0px;
      padding-right: 4%;
      padding-top: 40px;
    }

    &__directions {
      &-find {
        display: none;
      }

      p:nth-child(3) {
        margin-top: 12px;
      }
    }

    &__map {
      margin-top: 12px;
    }

    &__bottom-wrapper {
      display: block;
      height: 100%;
      width: auto;
      padding-top: 40px;
      padding-left: 25px;

      p:nth-child(1) {
        margin-bottom: 35px;
      }
    }

    &__logo-wrapper {
      height: auto;
      margin: 50px 0;
    }

    &__logo-higab {
      border: none;
    }
  }
}
