/* Header */

@media only screen and (max-width: 992px) {
    .header-container-desktop
     {
        display: none;
    }
}

.header-container {
    width: 100vw;
    height: 87px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Mukta-SemiBold";
    font-size: 14px;
}

.header-logo img {
    padding: 0 0.5rem;
}

.header-logo {
    display: flex;
    justify-content: space-around;
}

.header-lang {
    padding: 0 1.2rem 0.2rem 1.2rem;
}

.header-lang img {
    padding: 0 0.3rem 0 1rem;
}

.header-lang a {
    font-family: "Mukta-Regular";
    text-decoration: none;
    color: black;
}

.header-lang a:active, .header-lang a:hover {
    font-family: "Mukta-SemiBold";
}

@media only screen and (min-width: 992px) {
    .header-container
     {
        display: none;
    }

    .header-container-desktop {
        padding: 1rem 0 0.5rem 0;
        width: 1440px;
        display: flex;
    }

    .header-container-desktop-lang {
        display: flex;
    }

    .header-container-desktop-evenemang, .header-container-desktop-archive, .header-container-desktop-about-us, .header-container-desktop-login {
        display: flex;
        padding-left: 2rem;
    }

    .header-container-desktop-evenemang p, .header-container-desktop-archive p, .header-container-desktop-about-us p, .header-container-desktop-login p {
        padding-right: 0.5rem;
        font-family: "Mukta-Medium";
        font-weight: 500;
        font-size: 13px;
    }

    .header-container-desktop-lang a {
        padding-left: 0.5rem;
    }

    .header-container-desktop a {
        text-decoration: none;
        color: black;
    }

    .header-container-desktop-logo h3 {
        font-family: "CrimsonText-Regular";
        padding: 0.2rem 23rem 0 0.5rem;
    }

    .header-container-desktop-logo {
        display: flex;
        flex-direction: row;
        padding-left: 6rem;
    }

    .header-container-desktop-search {
        padding: 0 3rem 0 10rem;
        font-family: "Mukta-Medium";
        font-size: 13px;
    }

    .header-container-desktop-lang {
        font-family: "Mukta-Medium";
        font-size: 16px;
        padding-bottom: 0.5rem;
    }

    .header-container-desktop-lang a:active {
        font-family: "Mukta-ExtraBold";
    }
}