@media only screen and (max-width: 992px) {
  .index-img-desktop {
    display: none;
  }

  .index-video-desktop {
    display: none;
  }

  .index-archive-desktop {
    display: none;
  }

  .index-quote-desktop {
    display: none;
  }
}

.index-hero {
  padding-bottom: 2rem;
  background-color: #ffffff;
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.index-hero h3 {
  font-family: "Mukta-SemiBold";
  font-size: 26px;
  padding: 0.5rem 1rem;
  line-height: 26px;
}

.index-hero h5 {
  font-family: "CrimsonText-SemiBold";
  font-size: 20px;
  padding: 0 1rem;
  line-height: 135.16%;
}

.index-comming {
  background-color: #f5eee7;
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.index-comming-events {
  font-family: "Mukta-Regular";
  font-size: 16px;
  margin-left: 16px;
  margin-bottom: -30px;
  padding-top: 10px;
}

.index-event {
  background-color: #ffffff;
  padding: 1rem;
}

.index-event p:first-child {
  font-family: "CrimsonText-Regular";
  font-size: 26px;
}

.index-event p:last-child {
  font-family: "Mukta-Regular";
  font-size: 16px;
  line-height: 100%;
  padding-top: 0.3rem;
}

.index-event-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 13rem;
}

.index-event-images a {
  text-decoration: none;
  color: black;
}

.index-video {
  font-family: "Mukta-SemiBold";
  font-size: 12px;
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.index-video p {
  padding: 1rem;
}

.index-archive {
  padding: 2rem 2rem 4rem 2rem;
  background-color: #f5eee7;
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.index-curious {
  font-family: "CrimsonText-Regular";
  font-size: 26px;
  padding: 5rem 0;
}

.index-archive-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Mukta-Regular";
}

.index-pictures,
.index-movies,
.index-previous-event {
  display: flex;
  flex-direction: column;
}

.index-pictures a,
.index-movies a,
.index-previous-event a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.index-movies {
  padding: 0 0 0.1rem 1rem;
}

.index-previous-event {
  line-height: 20px;
  text-align: center;
  padding-top: 0.7rem;
}

.index-quote {
  background-image: url(/themes/wordplate/assets/images/quoteimage.png);
  width: auto;
  min-height: 562px;
  display: flex;
  align-items: flex-end;
}

.index-quote-text {
  font-family: "CrimsonText-Regular";
  font-size: 26px;
  color: white;
  left: 10%;
  margin: 20px 30px;
}

// Desktop breakpoint //

@media only screen and (min-width: 992px) {
  .index-img-mobile {
    display: none;
  }

  .index-hero h3,
  .index-hero h5 {
    color: white;
  }

  .index-hero h3 {
    position: absolute;
    left: 10%;
    top: 25%;
    font-size: 56px;
    line-height: 60px;
  }

  .index-hero h5 {
    font-size: 24px;
    position: absolute;
    left: 20%;
    top: 50%;
  }

  main {
    width: 1440px;
  }

  .index-comming {
    background-color: white;
    box-shadow: none;
  }

  .index-comming-events {
    font-size: 32px;
    font-family: "Mukta-Regular";
    text-align: center;
  }
  .index-event {
    display: none;
  }

  .index-video {
    box-shadow: none;
  }

  .index-video-desktop h6 {
    font-family: "Mukta-Regular";
    font-size: 40px;
  }

  .index-video-desktop p {
    font-family: "CrimsonText-Regular";
    font-size: 20px;
    padding: 0px;
  }

  .index-video-desktop h5 {
    font-family: "Mukta-Regular";
    font-size: 18px;
    font-weight: normal;
    padding-top: 8rem;
  }

  .video-mobile {
    display: none;
  }

  .index-video-desktop {
    display: flex;
    padding: 10rem 0 14rem 8rem;
  }

  .index-video-desktop-img {
    padding-right: 1rem;
  }

  .index-archive {
    display: none;
  }

  .index-archive-desktop {
    background-color: #f5eee7;
    padding: 2rem 0;
  }

  .index-archive-desktop h6 {
    font-family: "CrimsonText-Regular";
    font-size: 48px;
    padding: 3rem 0 5rem 15rem;
    font-weight: normal;
  }

  .index-archive-desktop a {
    font-family: "Mukta-Regular";
    font-size: 24px;
    text-decoration: underline;
    color: black;
  }

  .index-archive-desktop p {
    padding: 0 0 3rem 60rem;
  }

  .index-quote {
    display: none;
  }

  .index-quote-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .index-quote-desktop img {
    padding: 10rem 0 0 15rem;
  }
  .index-quote-desktop h6 {
    padding: 0 0 5rem 20rem;
    font-family: "CrimsonText-Regular";
    font-size: 48px;
  }

  .index-quote-desktop p {
    padding: 0 0 10rem 45rem;
    font-family: "CrimsonText-Regular";
    font-size: 24px;
  }
}
article > p {
  color: #000000;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: Crimson Text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
}
