.rent {
  $breadcrumb-faded: #999999;
  $breadcrumb-active: #ff6915;
  $border-color: hsla(0, 0%, 0%, 0.205);
  $text-color-light: #ffffff;
  $text-color-dark: #000000;
  $title-box-color: #54384c;
  $intro-background-color: #a1a7aa;

  &__title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 295px;
    width: 100%;
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1);

    &-title {
      font-family: "Mukta-Regular";
      font-size: 32px;
      letter-spacing: 0.02em;
      color: $text-color-light;
    }

    &-img {
      height: 295px;
      width: 375px;
      z-index: -1;
      background-color: $title-box-color;
      position: absolute;
    }
  }

  &__breadcrumbs {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 3px;
    margin-left: 16px;
    font-family: "Mukta-Bold";
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.04em;

    a {
      text-decoration: none;
    }
  }

  .breadcrumb-faded {
    color: $breadcrumb-faded;
  }

  .breadcrumb-active {
    color: $breadcrumb-active;
  }

  &__page-info {
    height: 142px;
    width: 100%;
    font-family: "CrimsonText-Regular";
    font-size: 18px;
    margin-left: 16px;
  }

  &__intro-text {
    width: 100%;
    font-family: "CrimsonText-Regular";
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0.02em;
    padding: 20% 8%;
    color: $text-color-dark;
    background-color: $intro-background-color;

    p:nth-child(1) {
      margin-bottom: 10px;
    }

    div {
      font-family: "Mukta-Regular";
      font-size: 16px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.04em;
      text-decoration: underline;
      margin-top: 26px;

      p {
        margin-left: 10px;
      }
    }
  }

  &__content {
    padding: 12% 5% 15% 5%;
    font-family: "CrimsonText-Regular";
    font-size: 18px;
    line-height: 25px;

    color: $text-color-dark;

    &-title {
      font-family: "Mukta-Bold";
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.04em;
      margin-bottom: 8px;
    }
  }

  &__text {
    display: flex;
    border-top: 1px solid #bfbfbf;
    font-family: "CrimsonText-Regular";
    font-size: 14px;
    line-height: 17px;
    padding-top: 30px;

    &-col:nth-child(1) {
      height: 255px;
      width: 118px;
      margin-right: 50px;
    }

    &-col:nth-child(2) {
      height: 272px;
      width: 157px;
    }

    &-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div {
        margin-top: 10px;
      }
    }

    &-bold {
      font-family: "Mukta-Bold";
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.04em;
    }
  }

  &__heading {
    font-family: "CrimsonText-Bold";
    font-size: 19px;
    line-height: 27px;
  }

  &__capital {
    font-size: 46px;
    line-height: 46px;
  }

  &__end-text {
    height: 562px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "CrimsonText-Bold";
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: $text-color-light;

    p {
      margin-top: 87%;
    }

    span {
      text-decoration: underline;
    }

    img {
      position: absolute;
      z-index: -1;
    }
  }
}
